.about-container {
  padding-top: 10px;
  background-color: #f8f1f3;
  height: 600px;
  width: auto;
  font-family: "Noto Serif JP", serif;
  margin: 20px;
  border-radius: 40px;
  /* border: solid red 2px; */
}

.about-h3 {
  font-size: 1.2rem;
  margin: 0 70px;
  padding-bottom: 12px;
}

.aside-info {
  margin: 0 70px;
  word-wrap: break-word;
  width: auto;
  /* border: solid red 2px; */
  padding-bottom: 14px;
  height: 150px;
}

.about-img {
  height: 350px;
  width: 600px;
  margin: 0 70px;
}
